/* ----------- Mobile  ----------- */

@media(max-width:767px) {
    body {
        background: pink;
    }
}


/* ----------- Tablets larger than 768px wide ----------- */
@media (min-width: 768px) and (max-width:1199px) {
    body {
        background: purple;
    }
}

/* ----------- Monitors larger than 1200px wide ----------- */
@media (min-width: 1200px) and (max-width:2281px) {
    body {
        background: yellow;
    }
}
